    <section class="company-information">
    <h2>Yoga Mats</h2>
    <p>Address: 700 King Street, London, ON, Canada</p>
    <p>Phone: +12262257642</p>
    <p>Email: matsyoga@gmail.com</p>
    </section>
    
