<header>
        <h2 class="hidden">Main Section</h2>
        <div class="header-info">
        <h1 class="hidden">Yoga mats</h1>
        <div class='logo-padding'>
        <div class='logo'>
            <p>Yoga Mats</p>
        </div>
        </div>
        <div class="btn-down">
            <div>
            <img src="../images/btn-down.png" alt="button">
            </div>

        </div>
    
        </div>
        </header>

   <section class="body-images">
       <h2 class="hidden">Information about Mats</h2>

    <div class="body-images-one">
    <div class="img-one"></div>
    <div class="text-one">
        <p>We are an online store of yoga mats. Here you can buy yoga mats and other useful and necessary products for your practice. We have rugs for beginners and yoga mats for experienced yogis. Choose the mat for you!</p>
    </div>
    </div>
    <div class="body-images-two">
    <div class="img-two"></div>
    <div class="text-one">
        <p>Our mats are great combination of price and quality. All mats have an excellent grip. They are durable and wear-resistant. The mats are suitable for any practice, especially valuable for kundalini yoga.</p>
    </div>
    </div>

    <div class="img-three">
    
        <div class="contact-information">
        <ul>
            <li><a href="/contact">Company Address</a></li>
        </ul>
    
        
        </div>
    
    </div>
</section>
