html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  background: url(../images/yoga_main_mobile.jpg) no-repeat right;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.logo {
  width: 150px;
  height: 150px;
  background-color: #7e6c88;
  border-radius: 50%; }

.logo-padding {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 10px;
  padding-left: 10px; }

.logo p {
  font-family: 'Rajdhani', sans-serif;
  color: white;
  font-size: 23px;
  text-align: center;
  padding-top: 60px; }

.btn-down {
  padding-bottom: 50px;
  padding-top: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.hidden {
  display: none; }

body {
  width: 100%;
  height: 100%; }

.img-one {
  top: 0;
  width: 100%;
  height: 435px;
  background: url(../images/mat_2.png) no-repeat left; }

.img-two {
  top: 0;
  width: 100%;
  height: 435px;
  background: url(../images/mat_3.png) no-repeat right; }

.img-three {
  top: 0;
  width: 100%;
  height: 435px;
  background: url(../images/mat_4.jpg) no-repeat center; }

.text-one {
  background-color: #7e6c88;
  height: 300px; }
  .text-one p {
    font-family: 'Rajdhani', sans-serif;
    color: white;
    font-size: 23px;
    text-align: center;
    line-height: 35px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 40px; }

footer {
  width: 100%;
  height: 100px;
  background-color: #7e6c88; }

@media screen and (min-width: 497px) {
  .img-one {
    background: url(../images/mat_2_tablet.png) no-repeat left; } }

@media screen and (min-width: 635px) {
  .img-two {
    background: url(../images/mat_3_tablet.png) no-repeat right; } }

@media screen and (min-width: 661px) {
  .img-three {
    background: url(../images/mat_4_tablet.jpg) no-repeat center; }
  .img-one {
    background: url(../images/mat_2_tablet_two.png) no-repeat left; } }

@media screen and (min-width: 768px) {
  .text-one p {
    font-size: 25px;
    text-align: center;
    line-height: 37px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 85px; }
  header {
    background: url(../images/yoga_main_tablet.jpg) no-repeat center; }
  .btn-down {
    padding-bottom: 50px;
    padding-top: 600px; } }

@media screen and (min-width: 994px) {
  .img-three {
    background: url(../images/mat_4_desktop.jpg) no-repeat center; }
  header {
    background: url(../images/yoga_main_desktop.jpg) no-repeat center; }
  .img-one {
    background: url(../images/mat_2_desktop.jpg) no-repeat center; } }

@media screen and (min-width: 1024px) {
  body {
    background-color: #7e6c88; }
  .img-one {
    width: 50%; }
  .img-two {
    width: 50%; }
  .body-images-one {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .text-one {
    padding-top: 95px;
    width: 50%; }
  .body-images-two {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center; }
  .img-three {
    width: 100%;
    height: 90%;
    background: url(../images/mat_4_desktop_two.jpg) no-repeat center; } }
